@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css?family=Lato:400, 300, 700, 900");
body {
  cursor: default;
  font-family: Lato;
  margin: 0 auto;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/header/bg-header.png");
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  justify-content: center;
  text-align: center;
  height: 1080px;
  &__logo-text {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 123px;
    width: 196px;
    & img {
      display: flex;
      position: absolute;
      left: 50%;
      top: 165px;
      margin: 0 0 0 -82px;
    }
  }
  &__main-text {
    display: flex;
    font-size: 32px;
    margin-top: 65px;
    margin-left: 20px;
    font-weight: bold;
    letter-spacing: 7.15px;
  }
  &__-another-text {
    display: flex;
    letter-spacing: 5px;
    margin-left: 30px;
    margin-top: 8px;
    font-size: 24px;
    text-transform: lowercase;
  }
  &__separator {
    display: flex;
    content: "";
    position: absolute;
    width: 104px;
    height: 2px;
    left: 50%;
    background-color: #fff;
    margin: 26px 0 0 -35px;
  }
  &__button {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 293px;
    margin-left: 39px;
    padding: 12px;
    border: 1px solid white;
    width: 182px;
    font-size: 17px;
    &::after {
      display: flex;
      content: "";
      margin-top: 100px;
      position: absolute;
      width: 10px;
      height: 10px;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: rotate(-135deg);
    }
  }
}

.main-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #f2f2f2;
  &__item {
    text-transform: uppercase;
    margin: 19px 20px 20px 20px;
    &:hover {
      color: #ada074;
      cursor: pointer;
    }
  }
}

.about {
  height: 700px;
  display: flex;
  margin-top: 120px;
  flex-direction: column;
  &__header {
    margin: 0 0 65px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__body {
    margin: 0 auto;
    max-width: 1080px;
    text-align: center;
    justify-content: center;
  }
  &__title {
    margin: 0 0 60px 0;
  }
  &__text {
    max-width: 688px;
    color: #868585;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 26px;
    margin: 0 auto;
  }

  &__row {
    flex-direction: row;
    display: flex;
    margin: 0 -15px;
    font-size: 0px;
  }

  &__column {
    padding: 0 15px;
    flex: 0 0 33.333%;
  }
}
.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  &:after {
    content: "";
    position: absolute;
    width: 50px;
    bottom: 0;
    height: 1px;
    left: 50%;
    background-color: #000;
    margin: 0 0 -30px -25px;
  }
}
.item-about {
  &__icon {
    margin: 0 auto;
    width: 92px;
    height: 92px;
    border: 2px solid #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    text-align: center;
    color: #000;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 35px 0 35px 0;
  }
  &__text {
    text-align: center;
    color: #868585;
    font-size: 14px;
  }
}
//portfolio
.portfolio {
  width: 100%;
  margin: 0 auto;
  min-width: 550px;
  background-color: #f3f3f3;
  text-align: center;
  align-items: center;
  justify-content: center;
  &__content {
  }
  &__header {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 9px;
    font-size: 30px;
    margin-top: 110px;
    margin-bottom: 40px;
    &:after {
      content: "";
      position: relative;
      width: 50px;
      bottom: 0;
      height: 1px;
      left: 50%;
      background-color: #000;
      margin-top: 40px;
      margin-left: -25px;
    }
  }
  &__nav {
    align-items: center;
    width: 30%;
    align-self: center;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
  &__nav-item {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    flex-direction: row;
    align-content: space-around;
    margin-bottom: 130px;
  }
  &__main {
    max-width: 1080px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__item {
    margin: 7px;
    width: 525px;
    height: 360px;
  }
  &__button {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
.button {
  text-transform: uppercase;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px;
  border: 1px solid #fff;
  width: 182px;
  font-size: 17px;
}
.partners {
  text-align: center;
  height: 390px;
  background: url("../img/partners/bg-partners.png");
  &__text {
    align-self: center;
    margin-top: 40px;
    font-family: Lato;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 3px;
  }
  &__row {
    margin-top: 80px;
    flex-direction: row;
  }
  &__logo {
    margin: 0 50px;
    max-width: 111px;
    max-height: 63px;
  }
}
.contacts {
  border: 1px solid black;
  margin: 4px;
  &__container {
    border: 1px solid black;
    margin: 6px;
    justify-content: start;
    width: 100%;
    height: 820px;
  }

  &__header {
    border: 1px solid black;
    margin: 8px;
  }

  &__title {
    margin-top: 180px;
  }

  &__main {
  }

  &__col {
  }

  &__row {
  }

  &__name {
  }

  &__inputname {
  }

  &__email {
  }

  &__inputemail {
  }

  &__message {
  }

  &__inputmessage {
  }
}
.socialLogo {
}

.footer {
  background: #3c3c3c;
  &__container {
  }
  &__row {
  }
  &__logo {
    object-fit: scale-down;
  }
}
.socialLogo {
  object-fit: scale-down;
}
